
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Control Panel</a>
</nav>

<div class="container-fluid" style="margin-top: 2rem;">

  <div class="row">
    <div class="col-8">
      <div class="card">
        <h5 class="card-header">Lights</h5>
        <div class="card-body">
    
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    
        </div>
      </div>
    </div>
  
    <div class="col-4">
  
      <p> Microwave control will be here!</p>
  
    </div>
  </div>

</div>

<router-outlet></router-outlet>
